@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <h1 class="display-4">Contato</h1>
    <p>Adicione seus contatos, organize sua vida!<br /><a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
